@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,700;1,100&display=swap');

/* globle style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan",sans-serif;
}
h1{
    font-size: 50px;
    line-height:64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4 {
      font-size: 20px;
    
    color: rgb(87, 87, 87);
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    /* border-radius: 4px; */
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}


body{
    width: 100%;
}
#header{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px 30px 80px;
    background: #E3E6F3;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   z-index: 999;
    position: sticky;

    top: 0;
    left: 0%;
}

 #navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    transform: 0.3s ease;
}#navbar li a:hover,
#navbar li a.active{
    color: teal;

}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: teal;
    bottom: -4px;
    left: 20px;
    position: absolute;

} 
#mobile {
    display: none;
    align-items: center;


}
#close{
    display: none;
}

/* Hero page  */
#hero{
background-image: url("img/hero4.png");
height: 90vh;
width: 100%;
background-position: top 25% right 0%;
display: flex;
flex-direction:column;
justify-content: center;
align-items: flex-start;
padding: 0 80px;
background-repeat: no-repeat;
}
#hero h4 {
    padding-bottom: 15px;
}
#hero h1 {
    color: teal;
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: teal;
    border: 0;
    padding:14 80px 14px 65px; 
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

} 
#featers {
    display: flex;
    align-items: center;
    justify-content: space-between;
flex-wrap: wrap;
}
#featers .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
    margin: 15px 0;

}

/* #featers .fe-box:hover{
box-shadow: 10px 10px 10px 54px rgb(70, 62,221 ,0.1 );
} */
#featers .fe-box img{
    width: 100%;
    margin-bottom: 10px;

}
#featers .fe-box > h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    background-color: #fddde4;
    color: teal;
    display: inline-block;
} 
#product1 .pro-container{
    display: flex;
    flex-wrap: wrap;
}
#product1{
    text-align: center;
    /* width: ; */
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 16px;
    border: 1px solid #dadada;
   border-radius: 25px; 
   cursor: pointer;
 
   margin: 15px 0;
}
#product1 .pro:hover{
      box-shadow: rgba(185, 185, 185, 0.2) 0px 2px 8px 0px;
}
#product1 .pro > img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .discription{
    text-align: start;
    padding:10px 0;
}
#product1 .pro .discription > span {
    color: gray;
}#product1 .pro .discription >h5{
    padding-top:7px ;
    color: black;
    font-size: 14px;
}
#product1 .pro .discription >h4{
    padding-top:7px ;
    color: teal;
    font-size: 15px;
    font-weight: 700;
}#product1 .pro .cart{
    width: 90px;
    /* padding: 6px; */
    height: 60px;
    border-radius: 60px;
    font-weight: 200;
    color: teal;
    background-color: #e8f6ea;
    /* border: 1px solid rgb(198, 198, 198); */
    margin-bottom:20px ;
}

/* banner   */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4 {
    color: white;
    font-size: 16px;
}
#banner h2 {
    color: white;
    font-size: 16px;
    padding: 10px 0;
}
#banner h2 > span {
    color: red;

}
#banner button:hover {
background-color:teal
;
color: white;
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
padding-left: 30px;
    background-image: url("img/banner/b17.jpg");
    min-width: 510px;
    height: 50vh;
    background-size: cover;
    background-position: center;

}#sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}
#sm-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background: teal;
    /* color: white; */
    border: 1px solid teal;



}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:  0 80px;
}
#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
padding: 20px;
    background-image: url("img/banner/b7.jpg");
    min-width:30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
} 
#banner3 .banner-box2{
    background-image: url("img/banner/b4.jpg");
}
#banner3 .banner-box3{
    background-image: url("img/banner/b18.jpg");
}

#banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 23px;
}#banner3 h3{
    color: red;
    font-weight: 800;
    font-size: 15px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position:20% 30% ;
    background-color: #041342;
}
#newsletter h4{
    font-size: 22px;
    font-weight:700;
    color: white;

}
#newsletter p{
    font-size: 14px;
    font-weight:600;
  
    color: white;
    
}#newsletter p span{
  
    color:orange;
    
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;  
     border-bottom-right-radius: 0;
}
#newsletter button {
    background-color: teal;
    color: white;
    white-space:nowrap;
      border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form{
    display: flex;
    width: 40%;
  

}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
   display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-bottom: 20px;
}
footer .logo{
    margin-bottom:30px ;

}
footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
    font-size: 13px;
}
footer p {
  margin: 0 0 8px 0;
    font-size: 13px;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: black;
 
    margin-bottom: 10px;
}
footer .follow {
    margin-top: 20px;

}
footer .install .row img{
    border: 1px solid teal;
    border-radius: 6px;


} 
footer .install img {
    margin: 10px 0 15px 0;
}
footer a:hover{
    color: teal;
} 
footer .cotyright {
    width: 100%;
    text-align: center;
}



/* shop page  */

#page-header {
    background-image: url("img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}
#page-header h2 ,
#page-header p {
    color:white ;

} 
/* pagination  */
#pagination {
    text-align: center;
}
#pagination a {
    text-decoration: none;
    background-color: teal;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;

} 
/* single product  */
#productdetails {
    display: flex;
    margin-top:20px ;
}
#productdetails .singlep-pro-image {
    width: 40%;
    margin-right: 50px;
   
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis:24%;
    cursor: pointer;
}
#productdetails .single-pro-details{
    width: 50%;
    padding: 30px;

}
#productdetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}
#productdetails .single-pro-details h2 {
  font-size: 26px;
}
#productdetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#productdetails .single-pro-details input {
   width: 50px;
   height: 47px;
   font-size: 16px;
   margin-right: 10px;
}
#productdetails .single-pro-details input:focus {
outline: none;
}
#productdetails .single-pro-details button {
    color: white;
    background-color: teal;
    
}
#productdetails .single-pro-details span {
    line-height: 25px;
}

/* blog header  */

#page-header.blog-header{
    background-image: url("img/banner/b19.jpg");
    
}
#blog {
    padding: 150px 150px 0 150px;
}
#blog .blog-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 80px;
}
#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}
#blog img {
    width: 100%;
    height: 300px;
    /* line-height-step: 30px;  */
    object-fit: cover;
} 
#blog .blog-details {
    width: 50%;
}
#blog .blog-details a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 11px;
position: relative;
transition: 00.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;

}#blog .blog-details a:hover{
    color: teal;
}#blog .blog-details a:hover:after{
    background-color: teal;
}
#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left:0;
    font-size: 70px;
    font-weight: 700;
    color: rgb(215, 215, 215);
z-index: -9;

}

/* about page  */ 

#page-header.about-header {
 
    background-image: url("img/about/banner.png");
}
#about-head{
       display: flex;
    align-items:center ;
}
#about-head img {
    width:100%;
    height: auto;
} 

#about-head div{
    padding-left: 40px;
    
}
#about-app{
    text-align: center;
    /* margin: 20px 0; */
}
#about-app .video {
    width: 70%;
    height: 100%;
    margin-top:20px;   border-radius: 20px;
  scroll-behavior: auto;}
#about-app .video video {
    width: 150%;
    height: 90%;
    border-radius: 20px;
    scroll-behavior:block;
    scroll-margin-block: 0;
} 

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
    margin: 20px 0  0 20px;
}
#contact-details .details span ,
#form-details form span {
    font-size: 12px;
}
#contact-details .details h2 ,
#form-details form h2 {
    font-size: 25px;
    line-height: 35px;
    /* padding: 20px 20px; */
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 20px ;
}

#contact-details .details li{
   
    list-style: none;
}
   
#contact-details .details li p {
padding: 5px;
margin: 0;
}

   
#contact-details .map iframe {
    /* width: 100%;
    height: 100%; */
    padding: 20px;
    padding-right: 49px;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;

}
#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    border: 1px solid gainsboro ;

}
#form-details form input,
#form-details form textarea  {
width: 100%;
padding: 12px 15px; 
margin-bottom: 20px;
border: 1px solid gainsboro;
}
#form-details form button {
    color: white;
    background: teal;

}

#form-details .people div img {
    width: 65px;
    height: 65px;
    margin-right: 15px;
    object-fit: cover;
}

#form-details .people div{
    padding-bottom: 30px;
    display: flex;
    align-items: flex-start;
    margin: 0;
    font-style: 13px;
    /* line-height: 25; */
}
#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

/* cart page  */ 

#cart {
    overflow-x:auto;
}
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img {
    width: 70px;
}

#cart table td:nth-chile(1){
    width: 100px;
    text-align: center;
};

#cart table td:nth-chile(2){
    width: 150px;
    text-align: center;
};

#cart table td:nth-chile(3){
    width: 250px;
    text-align: center;
};

#cart table td:nth-chile(4), 
#cart table td:nth-chile(5), 

#cart table td:nth-chile(6)

{
    width: 150px;
    text-align: center;
}

#cart table td:nth-chile(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid gainsboro;
    border-left:none;
    border-right: none;
}
#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 0;

}

#cart table tbody tr td {
    padding-top: 15px;

}
#cart table tbody td {
    font-size: 14px;
}
#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
#coupon {
    width: 50%;
    margin-bottom: 40px;
}
#coupon h3,#subtotal {
    padding-bottom: 14px;
}
#coupon input { 
    padding: 10px 20px;
    outline: none;
    margin-right: 10px;
    border: 1px solid gainsboro;
}
#coupon button ,
#subtotal button{
    background-color: teal;
    color: white;
    padding-block-end: 12px 20px;
}
#subtotal {
    width: 50%;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid gainsboro;
}
#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td {
    width: 50%;
    border: 1px solid gainsboro;
    padding: 10px;
    font-size: 14px;
}


/* media responsive  */

@media (max-width:799px) {
    .section-p1{
        padding:40px 40px ;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      position: fixed;
      top: 0;
      right:-300px;
      height: 100vh;
      width: 300px;
      background-color: #fff;
      /* box-shadow: 0 40px 60px;  */
      padding: 80px 0 0 10px;
      transition: 0.4s;
      }
      #navbar.active {
          right: 0px;
      }
      #navbar li {
          margin-bottom: 25px;
      } 
#mobile {
    display: flex;
    align-items: center;
}
#mobile i {
    font-size: 24px;
    padding-left: 20px;
    cursor: pointer;
}
#bar{
    font-weight: 400;
    padding-left: 10px;
   /*  font-size: 10px; */
    cursor: pointer;
}
#close{
    display: initial;
    position: absolute;
    top: 30px;
    padding-left: 20px;
    font-size: 24px;

}

#hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;

  
  }
  #featers {
    
    justify-content: center;

   
  }
  #featers .fe-box {
    margin: 15px;
  }
  #product1 .pro-container {
      justify-content: center;
  }
  #product1 .pro {
      margin: 15px;
  } 
  #banner {
 height: 20vh;
  }
  #sm-banner .banner-box {
      min-width: 100%;
      height: 30vh;
  }
  #banner3 {
      padding: 0 40px;
  }
  #banner3 .banner-box{
    width: 28%;
  }
  #newsletter .form {
    width: 84%;
  }
/* contact page  */
#form-details {
    padding: 40px;
}
#form-details form {
    width: 50%;
}

/* cart page  */


}

@media (max-width:477px){
    .section-p1 {
        padding: 20px;
    }
    #header{
        padding: 10px 30px;

    }
    h2{
        font-size: 32px;
        
    }
    h1 {
        font-size: 37px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature {
        justify-content: space-between;
    }
    #product1 .pro {
        width: 100%;
    }
    #benner {
        height: 40vh;
    }
    #sm-benner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter form {
        width: 100%;
    }
    #newsletter {
        width: 100%;
    }
    #footer .cotyright {
        text-align: start;
    }
    /* single product page  */
    #productdetails {
        display: flex;
        flex-direction: column;
    }
    #productdetails .singlep-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #productdetails .single-pro-details{
        width: 100%;
    }
    /* blog page */ 
#blog {
    padding:100px 20px 0 20px;
}
#blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
}
#blog .blog-details{
    width: 100%;
}
/* about page  */ 
#about-head {
    flex-direction: column;
}
#about-head img {
    width: 100%;
   
} 
#about-head div {
    padding-left:0px ;
}#about-head .video {
    width: 100%;

}

/* contact page  */
#contact-details {
    flex-direction: column;
}
#contact-details .details {
    width: 100%;
    margin-bottom: 30px;
}
/* #contact-details .map {
    width: 100%;
 
} */
#form-details { 
    margin: 10px;
    flex-wrap: wrap;
    padding: 30px 10px;
}
#form-details form {
    width:100%;
    margin-bottom: 30px;
}
/* cart  page  */
#cart-add {
   flex-direction: column;
}
#coupon {
    widows: 100%;
    /* margin-bottom: 30px; */
}
#subtotal { 
    width:100% ;
padding: 20px;
}

} 